<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <h3 style="color: red;" th:text="${error}"></h3>
</head>
<body>

<form method = 'post' action="/user">
    <label>
        Username:
        <input type="text" th:value="${username}" name = 'username' /><br><br>
    </label>
    <label>
        Email:
        <input type="email" th:value="${email}" name = 'email' /><br><br>
    </label>
    <label>
        Password:
        <input type="password" name = 'password' /><br><br>
    </label>
    <label>
        Verify Password:
        <input type="password" name = 'verify' /><br><br>
    </label>

    <input type = 'submit' value = 'Submit'>
</form>
</body>
</html>